@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

.container {
  width: 100vw;
  margin: 32px 0;
}

.modes {
  display: flex;
  justify-content: space-around;
  width: 35vw;
  margin: 0 auto;
}

.mode {
  cursor: pointer;
  padding: 0 0 8px;
  margin-bottom: 48px;
}

.active-mode {
  border-bottom: 3px solid #483BDF;
}

.search-container {
  text-align: center;
}

.title {
  margin-bottom: 18px;
}

input {
  border: 1.5px solid #909090;
  border-radius: 5px;
  padding: 4px 8px;
  margin: 0 8px;
  box-shadow: 0px 2px 20px rgba(51, 51, 51, 0.1);
}

input:focus{
  outline: none;
  border-color: #483BDF;
}

.search {
  padding: 8px 28px;
  border-radius: 60px;
  box-shadow: 0px 2px 20px rgba(51, 51, 51, 0.1);
  border: none;
  background-color: #483BDF;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.lyrics {
  margin-top: 28px;
  white-space: pre;
}

.movie-details {
  margin: 0 auto;
  max-width: 60vw;
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.movie-details img {
  margin-bottom: 12px;
  align-self: center;
}

.movie-title {
  font-size: 20px;
  font-weight: 500;
}

.loader{
  width: 0%;
  margin-top: 49vh;
  margin-left: 49vw;
}

svg path,
svg rect{
  fill: #483BDF;
}